<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h1>Enter customer details to update :-</h1>
<form action="updateCustomer" method="post">
    <label for="customerId">Customer Id :</label><br/>
    <input type="number" name="customerId"/><br/>

    <label for="accountNo">Account Number :</label><br/>
    <input type="number" name="accountNo"/><br/>

    <label for="name">Name :</label><br/>
    <input type="text" name="name"/><br/>

    <label for="state">State :</label><br/>
    <input type="text" name="state"/><br/>

    <label for="phoneNo">Phone Number :</label><br/>
    <input type="text" name="phoneNo"/><br/>

    <button type="submit">Update</button>
</form>
</body>
</html>